<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Contact')}"></head>

<body>

<header th:replace="~{fragments/navbar :: navbar}"></header>

    <main>
        <section class="contact">
            <form action="https://api.web3forms.com/submit" method="post">
                <input type="hidden" name="access_key" value="aad55455-eccc-4886-8479-a7aea8edc5ae">
                <input type="hidden" name="from_name" value="Abhiram - DataCleaner Project">

                <label for="name-field">Your Name</label>
                <input type="text" name="name" id="name-field" required>

                <label for="email-field">Your Email</label>
                <input type="email" name="email" id="email-field" required>

                <label for="subject-field">Subject</label>
                <input type="text" name="subject" id="subject-field" required>

                <label for="message-field">Message</label>
                <textarea name="message" rows="8" id="message-field" required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>