<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Services')}"></head>

<body>

<header th:replace="~{fragments/navbar :: navbar}"></header>


<!-- Services -->
    <main>
        <section class="upload-panel">
            <h2>Upload Data</h2>
            <form id="fileUploadForm">
                <input type="file" id="fileInput" name="file" accept=".csv,.txt,.json" required>

                <button type="submit">Upload</button>
            </form>

            <div id="uploadResult" class="result-card"></div>
        </section>
    </main>


    <!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>